.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

/node_modules
.idea/
.vscode/

/build
/dist